In [2]:
import numpy as np
import pandas as pd

In [13]:
var1 = np.random.randn(100)*5 + 20
var2 = np.random.randn(100) > 0
labels= ["Temp(C)", "Ice Cream"]

D= {labels[0]:var1, labels[1]:var2}

print(D )

{'Temp(C)': array([17.24000153, 25.40019662, 20.80410557, 20.55190759, 19.01810152,
       12.1547483 , 20.45699636, 26.89696387, 25.63958872, 20.26133694,
       19.71969085, 31.51911578, 14.46723134, 18.10706923, 28.83663954,
       22.82011977, 23.35694863, 18.36762159, 25.72942498, 22.60543136,
       16.39867473, 14.94640776, 13.54116688, 26.96040208, 22.46821626,
       14.82949984, 13.5889648 , 20.62780505, 15.77779638, 21.02860532,
       16.88959498, 14.85372213, 23.35353076, 19.06888033, 18.17435705,
       24.37983827, 13.65530097, 16.37079654, 22.98800461, 22.719916  ,
       19.8563991 , 20.67520285, 25.90539538, 13.47637206, 18.84690096,
       27.10862746, 16.62379627, 21.92924052, 25.74910058, 20.99401064,
        9.48001973, 16.25760046, 27.19373164, 22.04317606, 24.76139171,
       23.75485643, 23.94240538, 11.92999443,  7.79152033, 23.01780642,
       10.61742939, 20.94239206, 18.55147914, 26.02651575, 17.23354948,
       22.1668994 , 20.47248982,  9.47645731, 12.76972634, 19.68171673,
       19.82898646, 21.45772193, 13.78043759, 27.52823633, 22.81459087,
       18.4210256 , 23.34030626, 19.55510297, 18.11348055, 17.0881902 ,
       23.05485295, 17.20344682, 19.57291482, 22.18736458, 29.61250156,
        9.45062541, 12.91975975, 21.18428388, 17.49853414, 28.34239468,
       24.33217743, 25.46796901, 16.05753621, 17.15401865, 19.88363384,
       22.43225708, 14.01001855, 25.54514638, 22.28471651, 20.68010381]), 'Ice Cream': array([False,  True,  True, False,  True, False, False,  True,  True,
        True, False, False,  True,  True, False,  True, False, False,
        True,  True, False, False,  True, False,  True, False,  True,
        True,  True, False,  True,  True, False, False, False, False,
        True,  True,  True, False, False, False,  True,  True,  True,
        True, False, False, False, False,  True, False,  True, False,
        True,  True,  True, False, False,  True, False,  True, False,
       False,  True,  True,  True,  True, False,  True,  True,  True,
       False, False,  True, False, False, False,  True,  True, False,
        True,  True,  True,  True, False,  True, False, False, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False])}

In [14]:
df = pd.DataFrame(data = D)

In [15]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [17]:
df

      Temp(C)  Ice Cream
0   17.240002      False
1   25.400197       True
2   20.804106       True
3   20.551908      False
4   19.018102       True
..        ...        ...
95  22.432257      False
96  14.010019       True
97  25.545146      False
98  22.284717       True
99  20.680104      False

[100 rows x 2 columns]

In [19]:
df.count

<bound method DataFrame.count of       Temp(C)  Ice Cream
0   17.240002      False
1   25.400197       True
2   20.804106       True
3   20.551908      False
4   19.018102       True
..        ...        ...
95  22.432257      False
96  14.010019       True
97  25.545146      False
98  22.284717       True
99  20.680104      False

[100 rows x 2 columns]>

In [20]:
df.mean

<bound method DataFrame.mean of       Temp(C)  Ice Cream
0   17.240002      False
1   25.400197       True
2   20.804106       True
3   20.551908      False
4   19.018102       True
..        ...        ...
95  22.432257      False
96  14.010019       True
97  25.545146      False
98  22.284717       True
99  20.680104      False

[100 rows x 2 columns]>